<component name="ArtifactManager">
  <artifact type="exploded-war" name="MybatisSpringMVC:war exploded">
    <output-path>$PROJECT_DIR$/artifacts</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="MybatisSpringMVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="MybatisSpringMVC" />
        </element>
        <element id="directory" name="lib">
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/asm-7.1.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/aspectjrt.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/cglib-3.3.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/ognl-3.2.12.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-1.2.17.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/aspectjweaver.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mybatis-3.5.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-io-2.7.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/aopalliance-1.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-api-2.13.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/slf4j-api-1.7.30.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/log4j-core-2.13.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-logging-1.2.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/jackson-core-2.11.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/javassist-3.26.0-GA.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mybatis-spring-2.0.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/slf4j-log4j12-1.7.30.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/commons-fileupload-1.4.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/jackson-databind-2.11.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-tx-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-aop-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-jms-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-orm-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-oxm-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-web-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-core-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-jdbc-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-test-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/jackson-annotations-2.11.0.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-beans-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/mysql-connector-java-8.0.18.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-aspects-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-context-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-messaging-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-expression-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-instrument-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/spring-context-support-5.2.3.RELEASE.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/taglibs-standard-impl-1.2.5.jar" />
          <element id="file-copy" path="$PROJECT_DIR$/web/WEB-INF/lib/taglibs-standard-spec-1.2.5.jar" />
        </element>
      </element>
    </root>
  </artifact>
</component>